@model Comment
@using System.Security.Claims

<div class="comment" id="comment-@Model.CommentId">
    <h4>@Model.User!.UserName</h4>
    <p class="comment-text">@Model.CommentText</p>
    <small>@Model.CreatedAt.ToString("g")</small>

    <div class="comment-actions mt-2">
        @if (Model.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
        {
            <button class="btn btn-sm btn-warning edit-comment" data-comment-id="@Model.CommentId">Edit</button>
            <button class="btn btn-sm btn-danger delete-comment" data-comment-id="@Model.CommentId">Delete</button>
        }
    </div>
</div>
