@model IEnumerable<PodcastApplication.Models.Podcast>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"><strong>Create New Podcast</strong></a>
</p>

@if(!Model.Any())
{
    <div class="alert alert-warning">
        No podcasts available. Please create a new podcast.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PodcastTitle)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Creator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PodcastTitle)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Category!.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creator!.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>

                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.PodcastId">Edit</a> |
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.PodcastId">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PodcastId">Delete</a> |
                        <a class="btn btn-success" asp-action="StagingPodcast" asp-controller="Creators" asp-route-id="@item.PodcastId">Manage</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

