@model IEnumerable<Menu>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signInManager




<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand me-lg-5 me-0" href=@Url.Action("Index", "Home")>
            <img src="~/images/pod-talk-logo.png" class="logo-image img-fluid" alt="templatemo pod talk">
        </a>
        @if ((ViewContext.RouteData.Values["Controller"]?.ToString() == "Account" &&
        ViewContext.RouteData.Values["Action"]?.ToString() == "Register"))
        {
            <p></p>
        }
        else if ((ViewContext.RouteData.Values["Controller"]?.ToString() == "Account" &&
        ViewContext.RouteData.Values["Action"]?.ToString() == "Login"))
        {
            <p></p>
        }
        else
        {
            <form action="#" method="get" class="custom-form search-form flex-fill me-3" role="search">
                <div class="input-group input-group-lg">
                    <input name="search" type="search" class="form-control" id="search" placeholder="Search Podcast" aria-label="Search">

                    <button type="submit" class="form-control" id="submit">
                        <i class="bi-search"></i>
                    </button>
                </div>
            </form>
        }


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-auto">
                @foreach (var parentMenu in Model.Where(m => m.ParentMenuId == 0))
                {
                    var childMenus = Model.Where(m => m.ParentMenuId == parentMenu.MenuId).ToList();

                    if (childMenus.Any())
                    {
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@parentMenu.MenuTitle</a>
                            <div class="dropdown-menu m-0">
                                @foreach (var childMenu in childMenus)
                                {
                                    <a asp-action="@childMenu.ActionUrl" asp-controller="@childMenu.ControllerUrl" class="dropdown-item">@childMenu.MenuTitle</a>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <a asp-action="@parentMenu.ActionUrl" asp-controller="@parentMenu.ControllerUrl" class="nav-item nav-link">@parentMenu.MenuTitle</a>
                    }
                }
            </ul>
            @if ((ViewContext.RouteData.Values["Controller"]?.ToString() == "Account" &&
            ViewContext.RouteData.Values["Action"]?.ToString() == "Register"))
            {
                <p></p>
            }
            else if ((ViewContext.RouteData.Values["Controller"]?.ToString() == "Account" &&
            ViewContext.RouteData.Values["Action"]?.ToString() == "Login"))
            {
                <p></p>
            }
            else
            {
                <div class="ms-4">
                    @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <ul class="navbar-nav ms-lg-auto">
                           
                            <li class="nav-item">
                                <form id="logoutForm" method="post" asp-action="Logout" asp-controller="Account" class="d-inline">
                                    <a href="#" onclick="document.getElementById('logoutForm').submit();" class="nav-link">
                                        <i class="bi bi-box-arrow-right fs-3"></i> Logout @User.Identity!.Name
                                    </a>
                                </form>
                            </li>

                            
                            <li class="nav-item">
                                <a asp-area="Administrator" asp-action="Index" asp-controller="ControlPanel" class="nav-link">
                                    Dashboard
                                </a>
                            </li>
                        </ul>
                    }
                    else if (_signInManager.IsSignedIn(User) && User.IsInRole("Creator"))
                    {
                        <ul class="navbar-nav ms-lg-auto">
                           
                            <li class="nav-item">
                                <form id="logoutForm" method="post" asp-action="Logout" asp-controller="Account" class="d-inline">
                                    <a href="#" onclick="document.getElementById('logoutForm').submit();" class="nav-link">
                                        <i class="bi bi-box-arrow-right fs-3"></i> Logout @User.Identity!.Name
                                    </a>
                                </form>
                            </li>

                           
                            <li class="nav-item">
                                <a asp-action="CreatorProfile" asp-controller="Creators" class="nav-link">
                                    <i class="bi bi-person-circle fs-3"></i>
                                </a>
                            </li>
                        </ul>
                    }
                    else if (_signInManager.IsSignedIn(User) && User.IsInRole("Listener"))
                    {
                        <ul class="navbar-nav ms-lg-auto">
                            <li class="nav-item">
                                <form id="logoutForm" method="post" asp-action="Logout" asp-controller="Account" class="d-inline">
                                    <a href="#" onclick="document.getElementById('logoutForm').submit();" class="nav-link">
                                        <i class="bi bi-box-arrow-right fs-3"></i> Logout @User.Identity!.Name
                                    </a>
                                </form>
                            </li>

                           
                            <li class="nav-item">
                                <a asp-action="ListenerProfile" asp-controller="Listeners" class="nav-link">
                                    <i class="bi bi-person-circle fs-3"></i>
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <a asp-action="Register" asp-controller="Account" class="btn custom-btn custom-border-btn smoothscroll">Get started</a>
                    }

                </div>
            }

        </div>
    </div>
</nav>