@model IEnumerable<PodcastApplication.Models.Episode>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"><strong>Create New Episode</strong></a> |
    <a asp-action="Recorder"><strong>Built-In Recorder</strong></a>
</p>

@if(!Model.Any())
{
    <div class="alert alert-warning">
        No episodes available. Please create a new episode.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EpisodeTitle)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.EpisodeDuration)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Podcast)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EpisodeTitle)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EpisodeDuration)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Podcast!.PodcastTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>

                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.EpisodeId">Edit</a> |
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.EpisodeId">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.EpisodeId">Delete</a> |
                        <a asp-action="StagingPodcast" asp-controller="Creators" asp-route-id="@item.PodcastId"><strong>Go to podcast</strong></a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

